.calculator {
  width: 20rem;
  height: 30rem;
  background: linear-gradient(rgb(56, 189, 255),orange);
  display: grid;
  padding: 1%;
  position: absolute;
  top: 18%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 2px solid aliceblue;
  border-radius: 12px;
  box-shadow: 0 0 18px rgb(255, 255, 255);
  animation: animate 5s linear infinite;
}

.keys-numbers {
  grid-area: keys-numbers;
  direction: rtl;
}

.keys-numbers .key-zero {
  text-align: center;
  width: 9.1rem;
  text-align: left;
  padding-left: 15%;
}
.keys-operators {
  grid-area: keys-operators;
}
.keys-function {
  grid-area: keys-function;
}
.calculator-keypad {
  padding-top: 0.3rem;
  text-align: center;
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(4, 5rem);
  grid-template-rows: repeat(5, 5rem);
  grid-template-areas: "keys-function keys-function keys-function keys-operators" "keys-numbers keys-numbers keys-numbers keys-operators" "keys-numbers keys-numbers keys-numbers keys-operators" "keys-numbers keys-numbers keys-numbers keys-operators" "keys-numbers keys-numbers keys-numbers keys-operators";
}
.calculator-input {
  border-radius: 40px;
  box-shadow: 0 0 8px black;
  border-bottom: 3px solid aliceblue;
  text-align: right;
  padding-right: 10%;
  font-weight: bold;
  font-size: xx-large;
}
.result {
  min-height: 3rem;
  color: #666666;
}